* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(17, 17, 17);
}

ul,
li {
  list-style: none;
}

.main-header {
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  z-index: 1;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 0;
  padding-left: 8%;
  padding-right: 2%;
}

.active-menu {
  display: flex;
  justify-content: space-around;
  /* position: relative;
  top: 10px;
  right: 100px; */
}

.active-menu-search-img:hover {}

.lock:hover .icon-unlock,
.lock .icon-lock {
    display: none;
}
.lock:hover .icon-lock {
    display: inline;
}

.logo-home {
  /* position: relative;
  top: 15px;
  left: 15px; */
  padding: 1% 0;
}

.active-menu-search {
  margin-top: 10px;
  padding: 2px 5px;
}

.active-menu-search-img {
  font-size: 20px;
  color: #fff;
}

.active-buy__btn {
  padding: 8px 16px;
  margin: 5px 20px;
  background: #d42409fa 97.15%;
  color: #fff;
  border-radius: 10px;
  border-style: none;
  font-size: 14px;
}

.active-buy__btn:hover {
  background-color: #f73b1e;
  transition: 0.3s;
}

.active-login {
  padding: 8px 16px;
  padding-left: 0%;
  margin-top: 5px;
}

.active-login-link {
  color: #9b9b9b;
  font-size: 14px;
}

.active-login-link:hover {
  text-decoration: none;
  color: #ff6500;
}

/* style dropdown img-QR code */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1f1f1f;
  width: 200px;
  height: 160px;
  padding: 10px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  color: #ff6500 !important;
}

.content-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.menu-header-link {
  display: flex;
  justify-content: center;
}

.menu-header-link-item {
  padding: 16px 12px;
  font-size: 16px;
  font-weight: bolder;
}

.menu-header-link-item-txt {
  color: #9b9b9b;
}

.menu-header-link-item-txt:hover {
  text-decoration: none;
  color: #ff6500;
}

/* .menu-header-link-item-txt {
  color: #9b9b9b;
  box-shadow: 0 3px rgb(0, 0, 0);
  padding-bottom: 15px;
  transition: box-shadow .4s, color .3s;
  cursor: pointer;
}

.menu-header-link-item-txt:hover {
  text-decoration: none;
  color: #ff6500;
  box-shadow: 0 3px #ff6500;
} */



/* style footer */

.infomation {
  display: flex;
  justify-content: center;
  background: rgb(0, 0, 0);
}

.infomation-brand {
  display: flex;
  flex-direction: column;
}

.infomation-brand-link {
  margin-top: 25px;

}

.infomation-content {
  margin: 25px;
}

.content-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.link-menu {
  display: flex;
  justify-content: space-around;
  color: #9b9b9b;
}

.link-menu-item {
  margin-right: 10px;
  color: #9b9b9b;
}

.link-menu-item:hover {
  text-decoration: none;
  color: #ff6500;
}

.content-img-item {
  margin: 0 5px;
}

hr {
  margin: 5px 0;
}

.infomation-txt {
  color: #9b9b9b;
}

.btn-message {
  background: #ff6500;
  color: #fff;
  padding: 8px 16px;
  border-radius: 30px;
  width: 110px;
  font-size: 16px;
  margin-bottom: 5px;
}

.btn-message:hover {
  background-color: #dd5b04;
  color: #fa7f2de7;
}

.btn-hotline {
  background: #ff6500;
  color: #fff;
  padding: 8px 16px;
  border-radius: 30px;
  width: 140px;
  font-size: 16px;
  font-weight: bolder;
}

.btn-hotline:hover {
  background-color: #dd5b04;
}

.infomation-help {
  margin-top: 25px;
}

.help-link-img {
  height: 40px;
  width: 40px;
  margin-bottom: 30px;
  border-radius: 100%;
}

.help-link-img:hover {
  background-color: #dd5b04;
}